---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Navbar from "../components/navbar.astro";
import MagicGrid from "../components/MagicGrid.astro";
import PhoneComponent from "../components/phoneComponent.astro";
import Footer from "../components/footer.astro";
import HowItWorks from "../components/howItWorks.astro";
import Beta from "../components/beta.astro";
---

<Layout>
  <!-- <Navbar /> -->
  <main class="w-full relative top-0">
    <Hero />
    <section
      class="w-full min-h-screen border h-full flex-col flex items-center justify-start gap-30 relative py-20 pt-40 z-10 bg-gray-50 overflow-hidden rounded-[90px]"
    >
      <PhoneComponent />
      <MagicGrid />
      <HowItWorks />
      <Beta />
    </section>
  </main>
  <Footer />
</Layout>
