<footer
  class="w-full px-4 py-10 md:px-10 flex flex-col justify-end h-48 bg-[#101010] text-white"
  aria-label="Site Footer"
>
  <p
    class="text-lg md:text-3xl bg-linear-to-b from-white via-white to-primary bg-clip-text text-transparent font-bold tracking-wider uppercase"
  >
    Avienta
  </p>
  <hr class="border-t my-2 border-placeholder bg-none w-full" />
  <p class="font-medium text-xs text-right mt-1">
    Avienta © {new Date().getFullYear()}. All rights reserved.
  </p>
</footer>
